<!DOCTYPE html>
<html class="">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="5400" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/template.css" type="text/css" />
    <link rel="stylesheet" href="css/nmc.css" type="text/css" />
    <link rel="stylesheet" href="css/nam.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link href="css/divbox.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/divbox.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
</head>

<body class="lang-vi-VN  homepage ">

    <section class="content">
        <script type='text/javascript'>
            $('body').attr('id', 'home');
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".bt-res").click(function() {
                    $('.bt-res').toggleClass('open');
                    $(".wrap-res").toggleClass('open');
                });
                if (!$("body").hasClass("homepage")) {
                    $(".nav-menu .menu-link a").click(function(event) {
                        var id = $(this).data("link");
                        if (id != '') {
                            id = 'https://demo5000.web30s.vn/?idsection=' + id;
                            window.location.replace(id);
                        }
                    });
                }
            });
        </script>
        <header class="page-header navbar navbar-inverse">
            <div class="container-cus">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="logo-wrapper visible-xs visible-sm">
                        <div class="logo pull-left">
                            <a href="#section_banner" class="logo btn-scroll">
                                <img alt='Palazzo' class='img-responsive' width='180' height='98' src='images/logo-the-terra-an-hung.png'> </a>
                        </div>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse navbar-ex1-collapse SFUFuturaBook">
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <a href="/" class="logo">
                                <img alt='Palazzo' class='img-responsive logo1' width='180' height='98' src='images/logo-the-terra-an-hung.png'>
                                <img alt='Palazzo' class='img-responsive logo2' width='180' height='98' src='images/logo-the-terra-an-hung.png'>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-10">
                            <ul class="nav-menu nav navbar-nav navbar-nav-right">
                                <li class="first home menu-link"><a data-link="section_banner">Home</a></li>
                                <li class="menu-link"><a data-link="section_about">Giới Thiệu</a></li>
                                <li class="menu-link"><a data-link="section_masterplan">Dự án</a></li>
                                <li class="menu-link"><a data-link="section_location">Vị Trí Thuận Lợi</a></li>
                                <li class="menu-link"><a data-link="section_utilities">Tiện ích</a></li>
                                <li class="menu-link"><a data-link="section_support">HỖ TRỢ TÀI CHÍNH</a></li>
                                <li class="menu-link"><a data-link="section_picture360">Thư Viện Hình Ảnh</a></li>
                                <li class="menu-link"><a data-link="section_news">Tin tức sự kiện</a></li>
                                <li class="menu-link"><a data-link="section_register">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
                <div class="clearfix"></div>

            </div>
        </header>
        <div id="section_banner" class="animatedParent animateOnce">
            <div class="bxslider">
                <div class='item' data-title='<div class="box-slider doanimation fadeInRightShort delay-1000">&lt;span&gt; NOW IT&#039;S EASY TO FIND YOUR FUTURE HOME &lt;/p&gt;</div>' style='background-image: url("https://cdn.web30s.vn/datafiles/13135/upload/files/bg-3.jpg")'>
                </div>
                <div class='item' data-title='<div class="box-slider doanimation fadeInRightShort delay-1000">&lt;span&gt; NOW IT&#039;S EASY TO FIND YOUR FUTURE HOME &lt;/p&gt;</div>' style='background-image: url("https://cdn.web30s.vn/datafiles/13135/upload/files/bg-2.jpg")'>
                </div>
                <div class='item' data-title='<div class="box-slider doanimation fadeInRightShort delay-1000">&lt;span&gt; estate &lt;/p&gt;</div>' style='background-image: url("https://cdn.web30s.vn/datafiles/13135/upload/files/bg-1.jpg")'> </div>
            </div>
            <div class="slider-content animatedParent"> </div>
        </div>

        <div id="section_about" class="animatedParent animateOnce">
            <div class="container-cus">
                <div class="row">
                    <div class="col-xs-12 col-md-5 col-lg-4 fadeInLeftShort animated delay-500">

                        <div style="text-align: justify;">
                            <h3 class="title" style="box-sizing: border-box; font-family: MyriadPro, sans-serif; line-height: 1.2em; color: rgb(61, 61, 61); margin-top: 20px; margin-bottom: 30px; font-size: 32px; outline: 0px; border-width: 0px 0px 1px; border-top-style: initial; border-right-style: initial; border-bottom-style: solid; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: rgb(0, 84, 185); border-left-color: initial; border-image: initial; position: relative; padding-bottom: 15px;">
                                KH&Ocirc;NG GIAN SỐNG L&Yacute; TƯỞNG -&nbsp;<span style="box-sizing: border-box; outline: 0px; border: 0px; ">KHỞI ĐẦU CHO MỌI
                                    H&Agrave;NH TR&Igrave;NH TƯƠI ĐẸP</span></h3>
                            <p style="box-sizing: border-box; margin: 0px 0px 25px; outline: 0px; border: 0px; color: rgb(102, 102, 102); font-family: MyriadPro, sans-serif; font-size: 16px; text-align: justify;">
                                Palazzo được kết tinh từ t&acirc;m huyết của chủ đầu tư PALAZZO&nbsp;v&agrave; niềm đam m&ecirc; s&aacute;ng tạo, c&ugrave;ng khả năng cảm thụ vẻ đẹp tinh tế của c&aacute;c kiến tr&uacute;c sư t&agrave;i hoa, mang đến một kh&ocirc;ng gian sống theo phong
                                c&aacute;ch năng động, hiện đại với 867 căn hộ đầy đủ tiện &iacute;ch cao cấp, cảnh quan thơ mộng, an ninh 24/7, ph&aacute;p l&yacute; minh bạch v&agrave; đ&aacute;p ứng y&ecirc;u cầu khắt khe nhất ti&ecirc;u chuẩn c&ocirc;ng
                                năng v&agrave; thẩm mỹ.</p>
                            <ul class="ls-about" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 25px; outline: 0px; border: 0px; list-style: none; padding-right: 0px; padding-left: 0px; color: rgb(61, 61, 61); font-family: MyriadPro, sans-serif; font-size: 16px;">
                                <li style="box-sizing: border-box; outline: 0px; border: 0px; float: left; width: 128.875px; font-size: 18px; text-transform: uppercase;">
                                    <img alt="Quy mô dự án" class="img-responsive" src="images/ico-quy-mo(2).png" style="box-sizing: border-box; border: 0px; vertical-align: middle; outline: 0px; padding: 0px; display: block; max-width: 100%; width: 45px; height: 32px;" title="Quy mô dự án"
                                    /><span style="box-sizing: border-box; font-weight: 600; outline: 0px; border: 0px; display: block; line-height: 25px; margin-top: 20px;">QUY
                                        M&Ocirc;</span><span style="box-sizing: border-box; outline: 0px; border: 0px;">1,7 HA</span></li>
                                <li style="box-sizing: border-box; outline: 0px; border: 0px; float: left; width: 128.875px; font-size: 18px; text-transform: uppercase;">
                                    <img alt="Số Block &amp; Tầng" class="img-responsive" src="images/ico-quy-mo(2).png" style="box-sizing: border-box; border: 0px; vertical-align: middle; outline: 0px; padding: 0px; display: block; max-width: 100%; width: 45px; height: 32px;" title="Số Block &amp; Tầng"
                                    /><span style="box-sizing: border-box; font-weight: 600; outline: 0px; border: 0px; display: block; line-height: 25px; margin-top: 20px;">4
                                        BLOCK</span><span style="box-sizing: border-box; outline: 0px; border: 0px;">25
                                        TẦNG</span></li>
                                <li style="box-sizing: border-box; outline: 0px; border: 0px; float: left; width: 128.875px; font-size: 18px; text-transform: uppercase;">
                                    <img alt="Số căn hộ" class="img-responsive" src="images/ico-can-ho(2).png" style="box-sizing: border-box; border: 0px; vertical-align: middle; outline: 0px; padding: 0px; display: block; max-width: 100%; width: 60px; height: 32px;" title="Số căn hộ" />
                                    <span style="box-sizing: border-box; font-weight: 600; outline: 0px; border: 0px; display: block; line-height: 25px; margin-top: 20px;">867</span><span style="box-sizing: border-box; outline: 0px; border: 0px;">CĂN HỘ</span></li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                    <div class="col-xs-12 col-md-7 col-lg-8 fadeInRightShort animated delay-500">
                        <img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/jamila-vi-tri.jpg">
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            #section_about {
                margin-bottom: 3%
            }
        </style>
        <div id="section_masterplan" class="animatedParent animateOnce">
            <div id="master_plan" class="hover-map">
                <div class="divmap text-center">

                    <img alt="Sơ đồ mặt bằng tổng thể" class="img-responsive img-backgroud" width="1920" height="808" src="https://cdn.web30s.vn/datafiles/13135/upload/files/mat-bang-tong-the(2).jpg" />

                    <img alt="Sơ đồ mặt bằng tổng thể" class="img-responsive map" width="1920" height="808" src="images/mat-bang-tong-the-tran.svg" usemap="#mymap" id="imgMap" />
                    <map name="mymap">
                        <area shape="poly"
                            coords="619, 195, 739, 195, 740, 223, 797, 276, 856, 227, 937, 267, 946, 447, 809, 586, 763, 550, 685, 381, 728, 343, 724, 335, 792, 281, 736, 227, 620, 227"
                            data-key="K4" title="Block D" />
                        <area shape="poly"
                            coords="967, 95, 1036, 129, 1008, 158, 1022, 169, 1004, 189, 997, 340, 1020, 358, 1009, 383, 932, 467, 919, 285, 909, 274, 920, 263, 870, 234, 874, 227, 856, 217, 869, 203, 864, 199, 880, 187, 879, 178, 872, 172, 920, 132, 860, 79, 745, 79, 742, 47, 860, 47, 862, 79, 922, 135"
                            data-key="K5" title="Block C" />
                        <area shape="poly"
                            coords="1187, 62, 1302, 62, 1301, 101, 1188, 101, 1128, 155, 1171, 175, 1164, 183, 1187, 195, 1182, 205, 1199, 213, 1137, 282, 1145, 289, 1126, 314, 1119, 309, 1086, 344, 1094, 350, 1078, 368, 1065, 432, 997, 390, 1019, 361, 993, 343, 1003, 182, 1014, 175, 1023, 164, 1010, 157, 1053, 119, 1128, 154, 1187, 99"
                            data-key="K6" title="Block B" />
                        <area shape="poly"
                            coords="1294, 162, 1411, 161, 1413, 201, 1294, 201, 1264, 231, 1285, 242, 1274, 256, 1278, 262, 1199, 436, 1122, 536, 1086, 516, 1072, 542, 1045, 521, 1078, 361, 1094, 345, 1088, 341, 1122, 307, 1125, 312, 1135, 300, 1138, 284, 1208, 202, 1263, 231, 1295, 199"
                            data-key="K7" title="Block A" />
                    </map>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="box-masterplan fadeInLeftShort animated delay-500">
                <p>
                    <span style=\ "color: rgb(255, 255, 255); font-family: MyriadPro, sans-serif; font-size: 32px;
                        font-weight: 700; text-align: center; text-transform: uppercase; background-color: rgb(15, 113,
                        85);\">SƠ ĐỒ MẶT BẰNG TỔNG THỂ</span></p>
            </div>
        </div>
        <div id="section_location" class="animatedParent animateOnce">
            <div class="container-cus">
                <div class="row">
                    <div class="col-xs-12 col-md-5 col-lg-4 pull-right  fadeInRightShort animated delay-500">
                        <h3 class="title" style="box-sizing: border-box; font-family: MyriadPro, sans-serif; line-height: 1.2em; color: rgb(61, 61, 61); margin-top: 0px; margin-bottom: 20px; font-size: 32px; outline: 0px; border: 0px; position: relative;">
                            VỊ TR&Iacute; ĐẮT GI&Aacute;&nbsp;<br style="box-sizing: border-box;" />
                            <span style="box-sizing: border-box; outline: 0px; border: 0px; ">- DI CHUYỂN DỄ
                                D&Agrave;NG</span></h3>
                        <p>
                            <span style="color: rgb(102, 102, 102); font-family: MyriadPro, sans-serif; font-size: 16px; text-align: justify;">Palazzo
                                tọa lạc ngay tr&ecirc;n mặt tiền đường Song H&agrave;nh, Cao tốc Long Th&agrave;nh - Dầu
                                Gi&acirc;y TP.HCM (ngay n&uacute;t giao Đỗ Xu&acirc;n Hợp), gần như l&agrave; dự
                                &aacute;n duy nhất tiếp gi&aacute;p 2 mặt s&ocirc;ng, 2 mặt tiền đường.</span></p>
                        <p style="box-sizing: border-box; margin: 0px 0px 25px; outline: 0px; border: 0px; color: rgb(102, 102, 102); text-align: justify; font-family: MyriadPro, sans-serif; font-size: 16px;">
                            Palazzo dễ d&agrave;ng kết nối đến Trung t&acirc;m Quận 1, Quận 2, Quận 7 v&agrave; v&ugrave;ng l&acirc;n cận chỉ trong v&agrave;i ph&uacute;t di chuyển. Đặc biệt, vị tr&iacute; chiến lược tại Palazzo&nbsp;gi&uacute;p thuận tiện di chuyển đến đến c&aacute;c
                            v&ugrave;ng tiện &iacute;ch l&acirc;n cận: Đại học Fullbright, Bệnh viện, khu c&ocirc;ng nghệ cao Saigon Samsung, TTTM, si&ecirc;u thị, v.v... cho cuộc sống tiện nghi bậc nhất.</p>
                        <ul class="ls-location" style="box-sizing: border-box; margin-top: 0px; margin-bottom: 25px; outline: 0px; border: 0px; list-style: none; padding-right: 0px; padding-left: 0px; position: relative; color: rgb(61, 61, 61); font-family: MyriadPro, sans-serif; font-size: 16px;">
                            <li style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; padding: 5px 0px 0px 35px; margin-bottom: 10px;">
                                Gần điểm giao l&ecirc;n cao tốc</li>
                            <li style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; padding: 5px 0px 0px 35px; margin-bottom: 10px;">
                                Khu c&ocirc;ng nghệ cao Q9</li>
                            <li style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; padding: 5px 0px 0px 35px; margin-bottom: 10px;">
                                Đại học Fulbright</li>
                            <li style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; padding: 5px 0px 0px 35px; margin-bottom: 10px;">
                                Chỉ 10 ph&uacute;t để v&agrave;o trung t&acirc;m Q1</li>
                            <li style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; padding: 5px 0px 0px 35px; margin-bottom: 10px;">
                                Gần Parkson Cantavil, Metro, si&ecirc;u thị Big C</li>
                            <li style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; padding: 5px 0px 0px 35px; margin-bottom: 10px;">
                                Trường Quốc tế &Uacute;c, Mỹ,&hellip;</li>
                            <li style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; padding: 5px 0px 0px 35px; margin-bottom: 10px;">
                                Bệnh viện Quốc Tế</li>
                        </ul>
                        <p>
                            <img alt="Xem trên Google Map" class="img-responsive" src="images/ico-google-map.png" style="box-sizing: border-box; border: 0px; vertical-align: middle; outline: 0px; padding: 0px; display: inline-block; max-width: 100%; margin-right: 15px; width: 41px; height: 41px;"
                                title="Xem trên Google Map" /><a class="bt-google-map" style="box-sizing: border-box; color: rgb(97, 135, 197); outline: 0px; border: 0px; cursor: pointer; transition: all 0.3s ease-in-out; position: relative; font-weight: 700; margin-bottom: 15px; display: inline-block; font-family: MyriadPro, sans-serif; font-size: 16px;">Xem
                                tr&ecirc;n Google Map</a></p>
                    </div>
                    <div class="col-xs-12 col-md-7 col-lg-8  fadeInLefthort animated delay-750">
                        <img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/map-vitri-ud.jpg" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
        <div id="section_utilities" class="animatedParent animateOnce">
            <div class="box-utilities fadeInRightShort animated delay-500">
                <h3 class="title">TIỆN ÍCH VÀNG - <span>CHO CUỘC SỐNG CHUẨN SANG</span></h3>
                <p>
                    <span style="color: rgb(102, 102, 102); font-family: MyriadPro, sans-serif; font-size: 16px; text-align: justify;">Với
                        ti&ecirc;u ch&iacute; &quot;Cho cuộc sống tốt đẹp hơn&quot;, mỗi ng&agrave;y tại Jamila
                        l&agrave; những trải nghiệm bất tận với hơn 50 tiện &iacute;ch thư gi&atilde;n, vui chơi giải
                        tr&iacute; d&agrave;nh ri&ecirc;ng cho cư d&acirc;n năng động.</span></p>
                <div class="clearfix"></div>
            </div>
            <div id="master_utilities" class="hover-map">
                <div class="divmap text-center">

                    <img alt="Tiện ích dự án" class="img-responsive img-backgroud" width="1920" height="1420" src="https://cdn.web30s.vn/datafiles/13135/upload/files/tien-ich-du-an-finall.jpg" />

                    <img class="img-responsive map" width="1920" height="1420" src="images/tien-ich-du-an-tran.svg" <map name="myutimap">
                    <area shape="poly" coords="666, 51, 687, 42, 733, 37, 773, 48, 919, 130, 947, 164, 959, 201, 958, 392, 939, 435, 914, 459, 768, 540, 734, 549, 698, 549, 624, 514, 520, 451, 493, 421, 481, 362, 483, 205, 495, 161, 535, 122" data-key="U1" href="images/pic-ho-boi-trann.jpg"
                        class="fancybox" rel="album-tien-ich" title="Hồ bơi tràn" />
                    <area shape="poly" coords="244, 797, 244, 626, 255, 583, 282, 553, 440, 465, 484, 459, 523, 467, 680, 555, 706, 586, 717, 619, 717, 814, 692, 857, 664, 882, 512, 963, 482, 968, 448, 963, 409, 946, 285, 872, 259, 848, 245, 818" data-key="U2" href="images/pic-sanh-chinh.jpg"
                        class="fancybox" rel="album-tien-ich" title="Sảnh chính" />
                    <area shape="poly" coords="724, 796, 727, 616, 743, 575, 767, 551, 916, 468, 961, 458, 996, 462, 1165, 554, 1194, 594, 1200, 629, 1199, 812, 1185, 848, 1158, 874, 1000, 961, 955, 968, 927, 961, 776, 880, 749, 856, 734, 831" data-key="U3" href="images/pic-phong-tap-gym.jpg"
                        class="fancybox" rel="album-tien-ich" title="Phòng tập gym" />
                    <area shape="poly" coords="1206, 625, 1219, 587, 1244, 554, 1401, 467, 1455, 460, 1492, 469, 1635, 547, 1664, 576, 1679, 607, 1679, 810, 1669, 844, 1642, 874, 1481, 962, 1444, 969, 1405, 962, 1249, 876, 1216, 840, 1206, 798" data-key="U4" href="images/pic-shopping-housee.jpg"
                        class="fancybox" rel="album-tien-ich" title="Shopping House" />
                    <area shape="poly" coords="50, 960, 198, 880, 236, 874, 284, 883, 435, 967, 462, 997, 476, 1034, 475, 1217, 468, 1247, 439, 1287, 277, 1375, 236, 1382, 204, 1375, 70, 1307, 24, 1274, 1, 1222, 0, 1035, 23, 983" data-key="U5" href="images/pic-cong-vienn.jpg"
                        class="fancybox" rel="album-tien-ich" title="Công viên" />
                    <area shape="poly" coords="484, 1035, 503, 994, 534, 962, 687, 882, 733, 878, 762, 883, 908, 964, 937, 993, 954, 1029, 957, 1212, 950, 1253, 926, 1286, 761, 1376, 731, 1382, 694, 1381, 538, 1302, 503, 1271, 483, 1224" data-key="U6" href="images/pic-phong-khachh.jpg"
                        class="fancybox" rel="album-tien-ich" title="Phòng khách" />
                    <area shape="poly" coords="1438, 1217, 1438, 1046, 1433, 1022, 1413, 986, 1399, 968, 1241, 884, 1184, 878, 1162, 883, 1002, 972, 973, 1009, 963, 1043, 966, 1233, 991, 1279, 1029, 1308, 1174, 1384, 1213, 1384, 1249, 1373, 1301, 1347, 1407, 1286, 1427, 1256"
                        data-key="U7" href="images/pic-coffee-shop.jpg" class="fancybox" rel="album-tien-ich" title="Coffee shop" />
                    <area shape="poly" coords="1447, 1038, 1456, 1009, 1485, 975, 1634, 892, 1679, 880, 1711, 885, 1863, 964, 1894, 987, 1917, 1030, 1918, 1234, 1899, 1277, 1871, 1302, 1724, 1379, 1689, 1389, 1651, 1384, 1488, 1297, 1459, 1269, 1444, 1221, 1446, 1050" data-key="U8"
                        href="images/pic-khu-vui-choi-tre-em.jpg" class="fancybox" rel="album-tien-ich" title="Khu vui chơi trẻ em" />
                    </map>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>


        </div>

        <div id="section_picture360">
            <div id="main360">
                <div class=" gutter-0 row-eq-height">
                    <div class="col-sm-12 div360 div360-2" style="background: url('https://cdn.web30s.vn/datafiles/13135/upload/files/Service-hd.jpg');background-repeat: no-repeat;background-size: cover">
                        <div class="inner">
                            <a href="/thu-vien-anh">
                                <img src="images/icon-thuvien.png" class="img-responsive" alt="thư viện hình ảnh" />
                            </a>
                            <h3><strong>Thư Viện Hình Ảnh</strong> </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section_investor" class="animatedParent animateOnce">
            <div class="container-cus">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive margintop30" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-khang-dien(1).jpg" alt="Chủ đầu tư Khang Điền" title="Chủ đầu tư Khang Điền">
                    </div>
                    <div class='clearfix'></div>
                    <div class="box-investor fadeInUpShort animated delay-500">
                        <div class="box-left">
                            <p style="text-align: justify;">
                                <div class="title" style="box-sizing: border-box; outline: 0px; border: 0px; position: relative; font-size: 20px; line-height: 36px; text-transform: uppercase; padding-left: 0px; margin-bottom: 0px; color: rgb(51, 51, 51); font-family: MyriadPro, sans-serif;">
                                    <img alt="" src="images/15.png" style="width: 57px; height: 63px;float:left; margin-right: 10px;" /><span>NĂM
                                        HOẠT ĐỘNG VỚI NHỮNG TH&Agrave;NH C&Ocirc;NG VANG DỘI TRONG LĨNH VỰC BẤT ĐỘNG
                                        SẢN</span></div>

                                <div style="clear:both">&nbsp;</div>

                                <p style="box-sizing: border-box; margin: 0px; outline: 0px; border: 0px; color: rgb(51, 51, 51); font-family: MyriadPro, sans-serif; font-size: 16px; text-align: justify;">
                                    Palazzo đ&atilde; được đ&aacute;nh gi&aacute; l&agrave; 1 trong top 5 c&ocirc;ng ty ph&aacute;t triển bất động sản uy t&iacute;n v&agrave; bền vững nhất, cũng l&agrave; chủ đầu tư ti&ecirc;n phong trong xu hướng ph&aacute;t triển bất động sản xanh với
                                    c&aacute;c dự &aacute;n nổi tiếng&nbsp;<span style="box-sizing: border-box; font-weight: 700; outline: 0px; border: 0px;">Mega
                                        Village, Lucasta, Melosa Garden, Venica,
                                        Merita&hellip;&nbsp;</span>Palazzo&nbsp;tiếp tục khẳng định uy t&iacute;n v&agrave; gi&aacute; trị với sự trở lại ph&aacute;t triển d&ograve;ng sản phẩm chung cư - Palazzo&nbsp;sẽ l&agrave; nền tảng vững chắc tạo
                                    dựng tương lai, mang lại cuộc sống hạnh ph&uacute;c bền l&acirc;u cho mỗi gia đ&igrave;nh.</p>
                            </p>
                        </div>
                        <div class="box-right">
                            <div class="line-title"><span>CÁC DỰ ÁN ĐẦU TƯ CỦA KHANG ĐIỀN</span></div>
                            <ul class="ls-investor first">
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-merita.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-the-venica.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-lucasta.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-melosa-garden(2).jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-mega-village.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                            </ul>
                            <div class="line-title"><span>Đối tác</span></div>
                            <ul class="ls-investor">
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo_ongong3.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo_hoabinh3.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-cbre.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                                <li><img class="img-responsive" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-vietin-bank.jpg" alt="Ong & Ong" title="Ong & Ong"></li>
                            </ul>
                        </div>
                        <div class='clearfix'></div>
                    </div>
                </div>
            </div>

        </div>
        <div id="section_support">
            <div class="container-cus">
                <h2 class="background double"><span>HỖ TRỢ TÀI CHÍNH</span></h2>
                <div class="row gutter-0 row-eq-height">
                    <div class="col-sm-6 ">
                        <div class="main">
                            <h3 class="title">CHƯƠNG TRÌNH BÁN HÀNG</h3>

                            <p>
                                <h1 style="box-sizing: border-box; margin: 20px 0px 10px; font-size: 17px; font-family: MyriadPro, sans-serif; line-height: 1.1; color: rgb(61, 61, 61); outline: 0px; border: 0px; display: inline; text-align: justify;">
                                    Căn hộ Jamila</h1>
                                <p>
                                    <span style="color: rgb(61, 61, 61); font-family: MyriadPro, sans-serif; font-size: 16px; text-align: justify; background-color: rgb(239, 239, 239);">&nbsp;đang
                                        được b&aacute;n với mức gi&aacute; vừa tầm tay, ph&ugrave; hợp với c&aacute;c
                                        gia đ&igrave;nh tr&iacute; thức trẻ c&oacute; thu nhập trung b&igrave;nh. Người
                                        mua nh&agrave; sẽ nhận c&aacute;c mức chiết khấu hấp dẫn từ chủ đầu tư Khang
                                        Điền v&agrave; ng&acirc;n h&agrave;ng Vietinbank sẽ hỗ trợ về l&atilde;i suất,
                                        thủ tục vay vốn c&ugrave;ng phương thức trả nợ linh hoạt.</span></p>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="main">
                            <h3 class="title">CÁCH TÍNH LÃI VAY</h3>

                            <p>
                                <p>Công cụ cách tính lãi vay cho phép khách hàng tính toán được số tiền (cả tiền gốc và tiền lãi) mà họ sẽ phải thanh toán vào một ngày nhất định mà 2 bên đã thỏa thuận trong hợp đồng.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            #section_support .col-sm-6:nth-child(2)>.main,
            #section_support .col-sm-6:nth-child(2)>.main h3 {
                background: #197a5e;
                color: white
            }
            
            #section_support .col-sm-6:nth-child(2)>.main h3:after {
                background: white
            }
        </style>
        <div id="section_news" class="animatedParent animateOnce">
            <div class="container">
                <div class="title fadeInLeftShort animated">Tin tức sự kiện</div>

                <div class="news-content row">
                    <div class="slick">
                        <div class="item">
                            <a class="news-thumbnail" href="https://demo5000.web30s.vn/hon-500-khach-tham-du-le-gioi-thieu-block-a-du-an-can-ho-jamila-khang-dien" style="background-image:url('/datafiles/13135/upload/thumb_files/le-gioi-thieu-block-a-du-an-can-ho-jamila-khang-dien1.JPG');"></a>
                            <div class="news-info">
                                <div class="date-time">22/03/2018</div>
                                <div class="title">
                                    <a href="https://demo5000.web30s.vn/hon-500-khach-tham-du-le-gioi-thieu-block-a-du-an-can-ho-jamila-khang-dien">HƠN
                                        500 KHÁCH THAM DỰ LỄ GIỚI THIỆU BLOCK A DỰ ÁN CĂN HỘ JAMILA - KHANG ĐIỀN</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="news-thumbnail" href="https://demo5000.web30s.vn/khang-dien-duoc-vinh-du-binh-chon-top-30-bao-cao-thuong-nien-tot-nhat-2017" style="background-image:url('/datafiles/13135/upload/thumb_files/khang-dien-duoc-vinh-du-binh-chon-top-30-bao-cao-thuong-nien1.JPG');"></a>
                            <div class="news-info">
                                <div class="date-time">22/03/2018</div>
                                <div class="title">
                                    <a href="https://demo5000.web30s.vn/khang-dien-duoc-vinh-du-binh-chon-top-30-bao-cao-thuong-nien-tot-nhat-2017">KHANG
                                        ĐIỀN ĐƯỢC VINH DỰ BÌNH CHỌN TOP 30 BÁO CÁO THƯỜNG NIÊN TỐT NHẤT 2017</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="news-thumbnail" href="https://demo5000.web30s.vn/can-ho-khu-dong-khong-ngung-tang-nhiet" style="background-image:url('/datafiles/13135/upload/thumb_files/can-ho-khu-dong-khong-ngung-tang-nhiet1.jpg');"></a>
                            <div class="news-info">
                                <div class="date-time">22/03/2018</div>
                                <div class="title">
                                    <a href="https://demo5000.web30s.vn/can-ho-khu-dong-khong-ngung-tang-nhiet">CĂN HỘ
                                        KHU ĐÔNG KHÔNG NGỪNG "TĂNG NHIỆT"</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="news-thumbnail" href="https://demo5000.web30s.vn/khang-dien-tiep-tuc-lot-top-50-cong-ty-niem-yet-tot-nhat-viet-nam-2017" style="background-image:url('/datafiles/13135/upload/thumb_files/top-50-cong-ty-kinh-doanh-hieu-qua-nhat-viet-nam1.jpg');"></a>
                            <div class="news-info">
                                <div class="date-time">22/03/2018</div>
                                <div class="title">
                                    <a href="https://demo5000.web30s.vn/khang-dien-tiep-tuc-lot-top-50-cong-ty-niem-yet-tot-nhat-viet-nam-2017">KHANG
                                        ĐIỀN TIẾP TỤC LỌT TOP 50 CÔNG TY NIÊM YẾT TỐT NHẤT VIỆT NAM 2017</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="news-thumbnail" href="https://demo5000.web30s.vn/khang-dien-cong-bo-block-dep-nhat-du-an-jamila" style="background-image:url('/datafiles/13135/upload/thumb_files/untitled-1_10102017163738_25102017112243 (1).jpg');"></a>
                            <div class="news-info">
                                <div class="date-time">21/03/2018</div>
                                <div class="title">
                                    <a href="https://demo5000.web30s.vn/khang-dien-cong-bo-block-dep-nhat-du-an-jamila">KHANG
                                        ĐIỀN CÔNG BỐ BLOCK ĐẸP NHẤT DỰ ÁN JAMILA</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section_register" class="animatedParent animateOnce">
            <img class="img-responsive" style="width:100%" src="https://cdn.web30s.vn/datafiles/13135/upload/files/background-footer(1).jpg" alt="Thông tin liên lạc" title="Thông tin liên lạc">
            <div class="wrap-register container-cus">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="contact-form fadeInDownShort animated delay-500">
                            <h3 class="title">Liên Hệ</h3>

                            <div class="row">
                                <form action="" class="formBox" method="post" name="FormNameContact" id="FormNameContact">
                                    <input type="hidden" name="module" value="form" />
                                    <input type="hidden" name="action" value="goilienhe" />
                                    <div class="item col-xs-12 col-sm-6">
                                        <input type="text" id="tendaydu" name="tendaydu" class="textbox txtcontactName" placeholder="Họ tên" onfocus="this.placeholder=''" onblur="this.placeholder='Họ tên'" />

                                    </div>
                                    <div class="item col-xs-12 col-sm-6">
                                        <input class="textbox txtcontactMobile" name="dienthoai" id="dienthoai" type="tel" value="" minlength="10" maxlength="18" placeholder="Điện thoại" onfocus="this.placeholder=''" onblur="this.placeholder='Điện thoại'" />

                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input name="email" type="text" id="email" class="textbox txtcontactEmail" value="" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'" />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <input name="diachi" type="text" id="diachi" class="textbox txtcontactAddress" value="" placeholder="Địa chỉ" onfocus="this.placeholder=''" onblur="this.placeholder='Địa chỉ'" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <textarea name="noidung" cols="" rows="" id="noidung" class="textbox textarea txtcontactMessage" placeholder="Nội dung" onfocus="this.placeholder=''" onblur="this.placeholder='Nội dung'"></textarea>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-12 col-sm-9">
                                        <input name="mabaove" type="text" style="text-transform: uppercase" id="txtCaptcha" class="haimabaove textbox captcha txtcontactCaptcha block-left" placeholder="Mã số" onfocus="this.placeholder=''" onblur="this.placeholder='Mã số'" />
                                        <div class="autoCaptcha imgCaptcha captcha-image block-left"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 text-center">
                                        <a id="cmdSend" class="cmdContactSend bt-send" onclick="if (Check_Form_Name_Contact()) this.parentNode.parentNode.submit();">Gửi</a>


                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">
            .imgcode,
            .imgCaptcha {
                margin-left: 0
            }
            
            .contact-form .captcha-image {
                position: relative;
            }
            
            .renewCaptcha {
                color: white;
                background: #008484;
                position: absolute;
                right: 0px;
                top: 5px;
                bottom: 5px;
                width: 30px;
                text-align: center;
                line-height: 30px
            }
        </style>
        <link rel="stylesheet" href="css/slick-theme.css" type="text/css" />
        <link rel="stylesheet" href="css/slick.css" type="text/css" />
        <script type="text/javascript" src="js/slick.js"></script>
        <script type="text/javascript" src="js/homepage.js"></script>
    </section>
    <div id="section_partner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="wrap-partner">
                        <h3 class="title">ĐỐI TÁC PHÂN PHỐI <span>chính thức</span></h3>
                        <ul class="ls-partner">
                            <li><img class="img-responsive inline-block" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-keyland.jpg" alt="Key Land" title="Key Land">
                                <a href="javascript:void(0)">
                                    <p>
                                        <span style="color: rgb(0, 0, 0); font-family: &quot;Roboto Condensed&quot;, sans-serif; font-size: 16px;">84.2862906480</span>
                                    </p>
                                </a>
                            </li>
                            <li><img class="img-responsive inline-block" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-stda.jpg" alt="Key Land" title="Key Land">
                                <a href="javascript:void(0)">
                                    <p>
                                        <span style="color: rgb(0, 0, 0); font-family: &quot;Roboto Condensed&quot;, sans-serif; font-size: 16px;">84.2862906480</span>
                                    </p>
                                </a>
                            </li>
                            <li><img class="img-responsive inline-block" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-sunland-sg.jpg" alt="Key Land" title="Key Land">
                                <a href="javascript:void(0)">
                                    <p>
                                        <span style="color: rgb(0, 0, 0); font-family: &quot;Roboto Condensed&quot;, sans-serif; font-size: 16px;">84.2862906480</span>
                                    </p>
                                </a>
                            </li>
                            <li><img class="img-responsive inline-block" src="https://cdn.web30s.vn/datafiles/13135/upload/files/logo-seareal.jpg" alt="Key Land" title="Key Land">
                                <a href="javascript:void(0)">
                                    <p>
                                        <span style="color: rgb(0, 0, 0); font-family: &quot;Roboto Condensed&quot;, sans-serif; font-size: 16px;">84.2862906480</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer id="footer">
        <div class="container-cus">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p>
                        <p>
                            &nbsp;</p>
                        <p>
                            <span style="font-size:16px;">254A Nguyễn Đ&igrave;nh Chiểu , Phường 6, Quận 3, Tp. Hồ
                                Ch&iacute; Minh, Việt Nam</span></p>
                        <p>
                            <span style="font-size:14px;">Điện thoại:&nbsp;+84.2862563737&nbsp;| Fax:
                                +84.2862906480</span></p>
                        <p>
                            <span style="font-size:14px;">website:pavietnam.vn</span></p>
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 box-right">
                    <ul class="ls-social">
                        <li><a href="Mở rộng 14" target="_blank" class="bt-facebook">Facebook</a></li>
                        <li><a href="Mở rộng 13" target="_blank" class="bt-youtube">Youtube</a></li>
                    </ul>
                    <div class="copy-right"><span class="footer_copyright"><a href="https://demo5000.web30s.vn"
                                class="a_copyright">Copyright © PA Vietnam</a></span></div>
                </div>
            </div>
        </div>
    </footer>



    <div class="wrap-fixed">
        <a class="bt-control bt-res">Res</a>
        <a class="bt-control bt-download" href="https://cdn.web30s.vn/datafiles/13135/upload/files/JAMILA-Brochure.pdf" target="_blank">Download</a>
        <div class="wrap-res">
            <div class="title">Hotline</div>
            <ul class="ls-hotline">
                <li><a href="tel:(028) 6256 3737">(028) 6256 3737</a></li>
            </ul>

        </div>
        <a id="gotop" class="logo btn-scroll"></a>
        <div class="hidden">
            <div id="startpopup" class="startpopup">
                <div class="content">

                </div>
            </div>
        </div>
        <style type="text/css">
            .wrap-res .renewCaptcha {
                top: 0px;
                bottom: 0px;
            }
            
            .wrap-res .imgCaptcha {
                margin-bottom: 10px
            }
        </style>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootbox.min.js"></script>
        <script type="text/javascript" src="js/css3-animate-it.js"></script>
        <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="js/stickytooltip.js"></script>
        <script type="text/javascript" src="js/SmoothScroll.js"></script>
        <script type="text/javascript" src="js/jquery.imagemapster.min.js"></script>

        <link href="css/animations.css" rel="Stylesheet" rev="Stylesheet" />
        <link href="css/jquery.fancybox.css" rel="stylesheet">
        <link href="css/jquery.bxslider.min.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.tint.js"></script>
    </div>
</body>

</html